.stock-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.stock-list > button {
    background-color: var(--custom-blue);
    color: white;
    margin: 10px;
    width: 10vw;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 24px;
    transition: all 300ms;
}

.stock-list > button:hover {
    filter: brightness(130%);
}

.stock-list__product-item {
    overflow-y: auto;
    max-height: 100%;
    margin: 10px;
}

.stock-list__product-item::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
}

.stock-list__product-item::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.stock-list__product-item table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 24px;
}

.stock-list__product-item thead th {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
}

.stock-list__product-item tbody td {
    border: 1px solid #dee2e6;
    padding: 8px;
    cursor: pointer;
}

.stock-list__product-item tbody td:hover {
    filter: brightness(130%);
}

.stock-list__product-item th,
.stock-list__product-item td {
    text-align: center;
}

.stock-list__product-item tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}