@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --custom-blue: #2f80ec;
  --custom-blue-old: #0856bb;
  --custom-dark-blue: #292c4b;
  --custom-white: #fff;
  --custom-white-gray: #f6f7fb;
  --custom-white-milk: #fbfcff;
  --custom-gray: #e0e0e0;
  --custom-green: #13dd1d;
}

/* ::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  background-color: var(--custom-white-gray);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
