.product-list {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 24px;
    overflow: auto;
}

.product-list__product-card {
    background-color: var(--custom-white);
    width: 240px;
    height: 280px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-list__product-card__image {
    position: relative;
    width: 100%;
    height: 200px;
}

.product-list__product-card__desc {
    padding: 16px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.product-list__product-card__desc > p {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.product-list__product-card__action {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.product-list__product-card__action > button {
    background-color: var(--custom-blue);
    color: var(--custom-white);
    border-radius: 25%;
    border-style: none;
    outline: none;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms;
}

.product-list__product-card__desc > button:hover {
    filter: brightness(130%);
}