.layout {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: var(--custom-dark-blue);
    width: 130px;
    display: flex;
    align-items: center;
}

.sidebar__nav {
    background-color: var(--custom-blue);
    height: 80%;
    width: 80%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--custom-white);;
}

.sidebar__nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px 10px 20px 0;
    gap: 10px;
    justify-content: center;
}

.sidebar__nav > ul > li {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 18px;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    border-radius: 24px;
    transition: all 400ms;
}

.sidebar__nav > ul > li:hover,
.sidebar__nav > ul > li.active {
    background-color: var(--custom-white);
    color: var(--custom-blue);
}

.content {
    width: calc(100vw - 130px);
    max-height: 100vh;
    padding: 5px 24px 0 24px;
}