.transactions-list {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 24px;
    overflow: auto;
    color: black;
}

.transactions-list__card {
    background-color: var(--custom-white);
    width: 70%;
    min-height: 450px;
    max-height: 450px;
    padding: 24px;
    border-radius: 24px;
    border: 2px solid var(--custom-blue-old);
    display: flex;
    flex-direction: column;
    transition: all 300ms;
}

.transactions-list__product-item {
    overflow-y: auto;
    max-height: 100%;
    margin: 10px;
}

.transactions-list__product-item::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
}

.transactions-list__product-item::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.transactions-list__product-item table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 24px;
}

.transactions-list__product-item thead th {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
}

.transactions-list__product-item tbody td {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.transactions-list__product-item th,
.transactions-list__product-item td {
    text-align: center;
}

.transactions-list__product-item tbody tr:nth-child(even) {
     background-color: #f2f2f2;
 }

.transactions-list__product-card {
    background-color: var(--custom-white-milk);
    height: 70vh;
}

.transactions-list__product-card > p {
    margin: 10px;
}

.transactions-list__card:hover {
    border: 2px solid var(--custom-green);
}

.transactions-list__card-pay {
    /* background-color: var(--custom-white-gray); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    padding: 20px;
    border-radius: 24px;
}
