.cart {
    background-color: var(--custom-white);
    width: 35%;
    height: 90vh;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column
}

.cart__cart-list {
    background-color: var(--custom-gray);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 65%;
    overflow: auto;
    border-radius: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 8px;
}

.cart-item__image {
    width: 50px;
    position: relative;
    margin-right: 6px;
}

.cart-item__desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 60%;
}

.cart-item__desc> p {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-item__action {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.cart-item__action> button {
    width: 25px;
    height: 25px;
    background-color: var(--custom-blue);
    border-radius: 25%;
    border: none;
    outline: none;
    color: var(--custom-white);
    cursor: pointer;
    transition: 300ms all;
}

.cart-item__action> button:hover {
    filter: brightness(130%);
}

.cart__checkout {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 20px;
    background-color: var(--custom-blue-old);
    padding: 10px;
    border-radius: 20px;
    color: var(--custom-white);
}

.cart__total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart__total-pay {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.cart__total-pay > input {
    border: 2px solid var(--custom-gray);
    border-radius: 24px;
    outline: none;
    font-size: 18px;
    padding: 8px 8px 8px 16px;
    width: 65%;
    text-align: right;
 }

.cart__checkout > button {
    border-radius: 24px;
    border: none;
    outline: none;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--custom-green);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 300ms;
}

.cart__total-pay> label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart__checkout> button:hover {
    filter: brightness(130%);
}

.cart__checkout> button:disabled {
    filter: contrast(20%);
    cursor: default;
}